@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: "Poppins", sans-serif;
}

/* Global Class */
body .subtitle {
  font-size: 21px;
}

/* Modals */
body .swal2-popup {
  background: rgb(0,0,0);
  border-radius: 15px;
  background: linear-gradient(157deg, rgba(0,0,0,1) 36%, rgba(55,55,55,1) 100%);
}
body .swal2-popup .swal2-title {
  color: white;
  font-size: 1.475em;
}
body .swal2-styled.swal2-confirm{
  padding: 0.6em 1.7em;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  border: none;
  color: #FFFFFF;
  width: 100%;
  background-color: #FF3437;
  box-shadow: none;
  outline: none;
}
body .swal2-styled.swal2-confirm:focus {
  box-shadow: none;
  outline: none;
}
body .swal2-container.swal2-backdrop-show,
body .swal2-container.swal2-noanimation {
  background: rgba(23,23,23,.82);
  padding: 1.5em;
}


/* Response */
@media (max-width: 500px) {
  body .subtitle {
    font-size: 17px;
    margin: 10px 0 0;
  }
}